.cell {
    background-color: rgb(255, 255, 255);
    border: rgb(22, 34, 34) 0.25px solid;
    padding: 0;
    margin: 0;
    user-select: none;
    /*transition: background-color 20ms;*/
    
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(119, 227, 247);
}

html {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    margin: 1px 10px; 
    width: 6rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0;
    border: darkslategray 1px solid;
    background-color: #ededed
}

.slider {
    width: 5rem;
    height: 2px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0;
    border: darkslategray 1px solid;
    color:rgb(0, 0, 0); 
    background-color: #ffffff;
}

#slider-output {
    margin: 0;
    border:none;
}

.slider::-webkit-range-thumb {
    -webkit-appearance:none; 
    width:5px; 
    height:15px; 
    background:indianred;
    border-radius:0px; 
    border:none; 
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    -webkit-appearance:none; 
    width:5px; 
    height:15px; 
    background:indianred;
    border-radius:0px; 
    border:none;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb:hover {
    scale: 1.25;
  }

  .slider::-moz-range-thumb:active {
    scale: 1.25;
  }

/* Chrome */
@supports (-webkit-appearance:none) {
    .square { -webkit-appearance:none; background:#d3d3d3; outline:none; }
    .square::-webkit-slider-thumb {
    -webkit-appearance:none; width:15px; height:20px; background:indianred; }
}
/* FireFox */
@supports (-moz-appearance:none) {
    .square { height:10px; background:#d3d3d3; outline:none; }
    .square::-moz-range-thumb { width:15px; height:20px; border-radius:0px; border:none; background:indianred; }
}

.background {
    background-color: tomato;
    border: black 2px solid;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

button {
    margin: 1px 10px; 
    width: 6rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0;
    border: darkslategray 1px solid;
    background-color: #ededed
}

.hover {
    border: rgb(255, 251, 0) 2px solid;
    scale: 1.05;
}

.active {
    background-color: rgb(122, 255, 128);
    box-shadow: inset 1.5px 2px 5px #4e4e4e;
    outline: none;
    border-color: rgba(5, 54, 9, 0.74);
    border-width: 1.5px;
    scale: 0.98;  
}

.active-temp {
    background-color: rgb(122, 255, 128);
    box-shadow: inset 1.5px 2px 5px #4e4e4e;
    outline: none;
    border-color: rgba(5, 54, 9, 0.74);
    border-width: 1.5px;
    scale: 0.98;  
}

.filled-cell {
    background-color: rgb(0, 0, 0);
}

#sketchpad {
    border: darkslategray 1px solid;
    margin: auto;
    display: inline-grid;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: 300px;
}